@model TFS_API.Models.ViewModels.AcceptWarehouseVM

@{
    ViewBag.Title = "WareHouseAccept";
}

<h2>WareHouseAccept</h2>
    
    <div class="form-horizontal">
        <h4>AcceptWarehouseVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.palletbarcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.palletbarcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.palletbarcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.storeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.storeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.storeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="submit" id="submit" value="" type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    
$().ready(function () {
    
    $("#customerDetails").validate({
       rules: {
            palletbarcode: {
                required: true

            },
            storeId: {
                required: true
            },
            user_name: {
                required: true

            }

            
        },
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        messages: {
            palletbarcode: {
                required: "Please Type First Name"
            },
            storeId: {
                required: "Last Name Required"
            },
            user_name: {
                required: "PostCode Required"
            }
            
        },
        submitHandler: function (form) {
            $("#submit").attr("disabled", true);

            var dataRow = {
            FirstName: $('#palletbarcode').val(),
            LastName: $('#storeId').val(),
            PostCode: $('#user_name').val()
           
            }

        $.ajax({
            // Post Form Details to our API
            url: '/api/v1/HandyScanner/warehousetostoreaccept',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(dataRow),
            // When successful show and then close after 1.5 seconds
            success: function () {
                ClearPopupFormValues();
                $("#submit").attr("disabled", false);
                showAlert("Success - Details Saved", "success", 1250);
                setTimeout(window.close, 1500);
            }
            });
            return false; // required to block normal submit since you used ajax
        }
    });
});

function ClearPopupFormValues() {
    $('#palletbarcode').val("");
    $('#storeId').val("");
    $('#user_name').val("");
}

//Show Alerts
function showAlert(message, type, closeDelay) {
    if ($("#alerts-container").length === 0) {
        // alerts-container does not exist, create it
        $("body").append($('<div id="alerts-container" style="position: fixed;width: 50%; left: 25%; top: 10%;">'));
    }
    $('#alerts-container').html('');
        // default to alert-info; other options include success, warning, danger
        type = type || "info";

        // create the alert div
        var alert = $('<div class="alert alert-' + type + ' fade in">')
            .append(
                $('<button type="button" class="close" data-dismiss="alert">')
                .append("&times;")
            )
            .append(message);

        // add the alert div to top of alerts-container, use append() to add to bottom
        $("#alerts-container").prepend(alert);

        // if closeDelay was passed - set a timeout to close the alert
        if (closeDelay)
            window.setTimeout(function () { alert.alert("close") }, closeDelay);
    }

</script>
